<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.ajax.unobtrusive/3.2.4/jquery.unobtrusive-ajax.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    <link rel="stylesheet" id="font-awesome-css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" type="text/css" media="screen">

    <link href="~/Styles/StyleSheet.css" type="text/css" rel="stylesheet" />
    <script src="~/JS/JavaScript.js" defer></script>
    @*@model TomasosASP.ViewModels.TomasosModel*@

    @using Microsoft.AspNetCore.Identity
    @using TomasosASP.Models
    @inject SignInManager<User> SignInManager
    @inject UserManager<User> UserManager


    <title>@ViewBag.Title</title>
</head>
<body class="background">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid fantasy">
        <div class="navbar-header">
            <a class="navbar-brand brandy" asp-controller="Home" asp-action="Start">Tomasos Pizzeria</a>
        </div>

        @if (SignInManager.IsSignedIn(User))
        {
            <ul class="nav navbar-nav">
                <li>
                    <a asp-controller="Home" asp-action="Start">Start</a>
                </li>

                <li>
                    <a asp-controller="Order" asp-action="Menu">Meny</a>
                </li>

                <li>
                    <a asp-controller="Home" asp-action="ContactPage">Kontakt</a>
                </li>
                @if (User.IsInRole("Admin"))
                {
                    <li>
                        <a asp-controller="Admin" asp-action="Index">Admin Verktyg</a>
                    </li>
                }

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li id="cartIcon">
                    <a asp-controller="Order" asp-action="Checkout">
                        Varukorg: @Model.itemsInCart varor
                        <p class="glyphicon glyphicon-shopping-cart"></p>
                    </a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        @if (User.IsInRole("Admin"))
                        {
                            <span class="glyphicon glyphicon-user"></span>
                            <text>Admin</text>
                            <span class="caret"></span>
                        }
                        else
                        {
                            <span class="glyphicon glyphicon-user"></span>
                            @UserManager.GetUserName(User)
                            <span class="caret"></span>
                        }

                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a asp-controller="Account" asp-action="AccountEdit">Konto</a>
                        </li>
                        <li>
                            <a asp-controller="Account" asp-action="LogOff">Logga ut</a>
                        </li>
                    </ul>
                </li>
            </ul>
        }
        else
        {
            <ul class="nav navbar-nav">
                <li>
                    <a asp-controller="Home" asp-action="Start">Start</a>
                </li>

                <li>
                    <a asp-controller="Home" asp-action="ContactPage">Kontakt</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a asp-controller="Account" asp-action="Register"><span class="glyphicon glyphicon-user"></span> Skapa Konto</a>
                </li>
                <li>
                    <a asp-controller="Home"
                       asp-action="GetLoginModal"
                       data-ajax="true"
                       data-ajax-method="get"
                       data-ajax-mode="replace"
                       data-ajax-update="#myModal"
                       data-toggle="modal" data-target="#myModal">
                        <span class="glyphicon glyphicon-log-in"></span> Logga in
                    </a>
                </li>
            </ul>
        }



    </div>
</nav>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    @*<div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title modalText">Logga in</h2>
            </div>
            <div class="modal-body">
                <!-- Här kan man skriva Modalens innehåll-->
                <form asp-controller="Account" asp-action="Login">
                    <label class="modalText">Användarnamn</label><br/>
                    <input asp-for="@Model.Customer.AnvandarNamn" class="modalInput" type="text"/>
                    <br/><br/>
                    <label class="modalText">Lösenord</label><br/>
                    <input asp-for="@Model.Customer.Losenord" class="modalInput" type="password"/>
                    <input id="login" type="submit" value="Logga in"/>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>*@
</div>

<a href="#" class="back-to-top" style="display: inline;">
    <i class="fa fa-arrow-circle-up custom-up-arrow"></i>
</a>
<div class="row container-fluid">
    <div class="col-sm-8 col-sm-offset-2" align="center">
        <div class="content">
            @RenderBody()
        </div>
    </div>
</div>
</body>
</html>