@model TomasosASP.ViewModels.TomasosModel

@using Microsoft.ApplicationInsights.Extensibility.Implementation
@using Microsoft.AspNetCore.Identity
@using TomasosASP.Models
@using TomasosASP.ViewModels
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Tomasos Pizzeria</a>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <a asp-controller="Home" asp-action="Start" asp-route-userName="@UserManager.GetUserName(User)">Start</a>
            </li>
            <li>
                <a asp-controller="Order" asp-action="Menu">Meny</a>
            </li>

            <li>
                <a href="#">Kontakt</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-controller="Order" asp-action="Checkout">
                    Varukorg: @Model.Cart.Sum(x => x.Antal) varor
                </a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="glyphicon glyphicon-user"></span> @Model.Customer.Namn <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">Konto</a>
                    </li>
                    <li>
                        <a asp-controller="Account" asp-action="LogOff">Logga ut</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>*@


<div class="row container-fluid">
    <div class="col-sm-8 col-sm-offset-2 home-col-logoff content">

        <h2 align="center">Du har beställt följande:</h2>
        
            <table>

                @foreach (var dish in @Model.Dishes)
                {
                    foreach (var number in @Model.Cart.Where(x => x.MatrattId == dish.MatrattId))
                    {
                        <tr>
                            <td>
                            <h4>@(number.Antal)st &nbsp; </h4>
                            </td>
                            <td>
                                <h4>@dish.MatrattNamn &nbsp; &nbsp;</h4>
                            </td>
                            <td>
                                <h4>@(dish.Pris * number.Antal):-</h4>
                            </td>

                        </tr>
                    }
                }

            </table>
        
        <h3>Total kostnad: @(Model.TotalSum):-</h3>
        <br />
        <form asp-controller="Order" asp-action="ConfirmOrder">
            <button type="submit">Godkänn beställning</button>
        </form>
        <br/><br/>
     </div>


</div>