@model TomasosASP.ViewModels.TomasosModel

@using Microsoft.ApplicationInsights.Extensibility.Implementation
@using Microsoft.AspNetCore.Identity
@using TomasosASP.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Model.itemsInCart > 0)
{
    <h2 align="center">Du har beställt följande:</h2>

    <table class="checkout-table">

        @foreach (var dish in @Model.Dishes)
        {
            foreach (var number in @Model.Cart.Where(x => x.MatrattId == dish.MatrattId))
            {
                <tr class="table-row">

                    <td class="left">

                        <h4>@(number.Antal)st &nbsp; </h4>
                    </td>
                    <td class="left">
                        <h4>@dish.MatrattNamn &nbsp; &nbsp;</h4>
                    </td>
                    <td class="left-margin">
                        @if (User.IsInRole("Premium") || User.IsInRole("Admin"))
                        {
                            if (Model.itemsInCart >= 3)
                            {
                                <h4>@(Math.Floor((dish.Pris * number.Antal) * 0.8)):-</h4>
                            }
                            else
                            {
                                <h4>(dish.Pris * number.Antal):-</h4>
                            }
                        }
                        else
                        {
                            <h4>@(dish.Pris * number.Antal):-</h4>
                        }

                    </td>

                    <td>
                        <form asp-controller="Order" asp-action="RemoveProduct"
                              asp-route-dishID="@dish.MatrattId">
                            <input class="btn btn-danger btn-remove" type="submit" value="Ta bort">
                        </form>

                    </td>
                </tr>
            }
        }

    </table>

    if (User.IsInRole("Premium") || User.IsInRole("Admin"))
    {
        if (Model.Customer.Poang >= 100)
        {
            <h2>Bästa kund!</h2>
            <h3>Du har kommit upp i 100 Bonuspoäng ochdärmed bjuder vi på din dyraste pizza! (Så snälla är vi!)</h3>
            if (Model.itemsInCart >= 3)
            {
                <h5>Du har fått @(Math.Floor((Model.Discount) * 0.8)):- i rabatt på ditt köp</h5>
                <h3>Total kostnad: @(Math.Floor((Model.TotalSum * 0.8) - (Model.Discount*0.8))):-</h3>
                <p>Varav moms: @((Math.Floor((Model.TotalSum * 0.8) - (Model.Discount * 0.8)))*0.2):- </p>
            }                   
            else
            {
                <h5>Du har fått @(Model.Discount)kr i rabatt på ditt köp</h5>
                <h3>Total kostnad: @((Model.TotalSum) - Model.Discount):-</h3>
                <p>Varav moms: @(((Model.TotalSum) - Model.Discount) * 0.2):- </p>
            }
        }
        else
        {
            if (Model.itemsInCart >= 3)
            {
                <h3>Total kostnad: @Math.Floor(Model.TotalSum * 0.8):-</h3>
                <p>Varav moms: @((Model.TotalSum * 0.8) * 0.2):- </p>
            }
            else
            {
                <h3>Total kostnad: @(Model.TotalSum):-</h3>
                <p>Varav moms: @((Model.TotalSum) * 0.2):- </p>
            }
        }
    }
    else
    {
        <h3>Total kostnad: @(Model.TotalSum):-</h3>
        <p>Varav moms: @((Model.TotalSum) * 0.2):-</p>
    }

    <br/>

    <form asp-controller="Order" asp-action="ConfirmOrder">
        <button type="submit">Godkänn beställning</button>
    </form>
}
else
{
    <h2>Din varukorg är tom!</h2>
}
<br/>
<br/>