@model TomasosASP.ViewModels.TomasosModel

@using Microsoft.AspNetCore.Identity
@using TomasosASP.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


        <h1 class="menuhead">Meny</h1>
        @if (User.IsInRole("Premium") || User.IsInRole("Admin"))
        {
            <p>Premiumkunder får 20% orderrabatt vid köp av minst 3 stycken maträtter</p>
        }
        <hr/>
    

<div class="row container-fluid">
    <div class="col-sm-12" id="menu-col content-menu"align="left">
        @foreach (var category in @Model.ProductCatories)
        {
            var catId = category.Id;
            <h1 class="menutype" align="center">@category.Description</h1>
            
            <hr/>
            foreach (var product in @Model.Products.Where(x => x.Category.Id == catId))
            {
                var id = product.Id;
                <h3>@product.Name</h3>
                <h4>@product.Description</h4>
                <br/>
                <ul>
                    @foreach (var topping in product.Toppings.ToList())
                    {
                        <li>@topping.Name</li>
                    }
                </ul>
                
                    <h3 align="right">Pris: @product.Price:-</h3>
                

                <br/>
                <form asp-controller="Order" asp-action="AddProduct" asp-route-dishID="@product.Id" 
                      data-ajax="true"
                      data-ajax-method="get"
                      data-ajax-mode="replace"
                      data-ajax-update="#cartIcon">
                    <input class="btn btn-success" type="submit" value="Lägg till"/>
                </form>

                <hr/>
            }
            <br/>
            <br/>
        }



    </div>
</div>